
/* //faq csss */
.faq-section {
  background: linear-gradient(to right, #b3a8b442, #ffffff,#92749623);
  color: #ffffff;
   padding: 4rem 1rem;
  
}
.faqboxbody{
  display: flex;
  flex-direction: row;
}
.faqmain{
  width: 100%;
}
.faq-section .subheading {
  font-size: 23px;
  font-weight: 500;
  color: #eb8d13;
}

.faq-section h2 {
  font-size: 35px;
  color: black;
  line-height: 1.4;
}
.faq-section .custom-accordion {
  max-width: 703px; /* or any width you prefer */
  width: 100%;
  margin: 0 auto; /* centers it horizontally */
}
.pointone{
  display: flex;
  margin-top: 25%;
}

.point {
    box-shadow: #0e0a16;
    height: 55%;
    box-shadow: -1px 1px 200px 20px #b400ff;
}
.pointone2{
  display: flex;
  margin-top: 25%;
}

.point2 {
    box-shadow: #0e0a16;
    height: 55%;
    box-shadow: -1px 1px 200px 20px #b400ff;
}
.custom-accordion .accordion-item {
  background-color: #dee0e4;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.custom-accordion .accordion-button {
  background-color: #eef0f0be;
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem 1.25rem;
  box-shadow: none;
  border: none;
  transition: background-color 0.3s ease;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #eef0f0be;
}

.custom-accordion .accordion-button:focus {
  box-shadow: none;
}

.custom-accordion .accordion-body {
  background-color: #eef0f0be;
  color: rgb(78, 78, 78);
  padding: 1rem 1.25rem;
  /* border-top: 1px solid #30363d; */
}

@media (max-width: 767px) {
  .faq-section .subheading,
  .faq-section h2 {
    text-align: left !important;
    
  }
}
